
.Rproj.user/38F75701/build_options
.Rproj.user/38F75701/sources/prop/7FBE4D4A
.Rproj.user/38F75701/sources/prop/INDEX
.Rproj.user/38F75701/sources/session-93558E82/1FDE8A11
.Rproj.user/38F75701/sources/session-93558E82/1FDE8A11-contents
.Rproj.user/38F75701/sources/session-93558E82/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
RDDSHSC_2023-24.Rproj
